* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #202127;
  color: rgb(197, 197, 197);
}
.container {
  margin: 15px;
  width: 95%;
}
.header {
  width: 50%;
}
.social {
  width: 100%;
  position: relative;

  top: 67px;
  left: 0px;
}
.social > .img {
  height: 150px;
  margin-bottom: 25px;
}
.social-logo .img {
  width: 25px;
  transform: translate(-50%, -20px);
  margin-bottom: 10px;
}

.social-logo .img:hover {
  padding: 3px;
  border-radius: 30px;
  background-color: #787676;
}

.logo {
  margin-left: 10%;
  position: absolute;
  top: 0px;
  color: rgb(171, 166, 166);
  font-family: "Lucida sans";
  font-size: 1.8em;
  text-shadow: 5px 5px 5px #787676;
  transition: 0.3s;
}
.logo:hover {
  text-shadow: 8px 8px 10px rgb(59, 59, 59);
}
.sidebar {
  display: block;
  z-index: -1;
}
.menu-box {
  z-index: 1;
  width: 45px;
  height: 100%;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  transform: translateY(5px);
}
/* 
45px => valeur actuelle
largeur de menu voulue => ?

*/
.menu-top {
  align-self: center;
  margin: 3px 0px 1.5px 0px;
  width: 21.7px;
  height: 1.5px;
  border-radius: 5px;
  background-color: white;
  transition: all 0.5s;
}
.menu-middle {
  align-self: center;
  margin: 1px 0 1.5px 0;
  width: 21.7px;
  height: 1.5px;
  border-radius: 5px;
  background-color: white;
  opacity: 1;
  transition: all 0.5s;
}
.menu-bottom {
  align-self: center;
  margin: 1px 0 3px 0;
  width: 21.7px;
  height: 1.5px;
  border-radius: 5px;
  background-color: white;
  transition: all 0.5s;
}
.menu-box:hover .menu-middle {
  transform: translateY(3px);
}
.menu-box:hover .menu-bottom {
  transform: translateY(6px);
}
.menu-animated:hover .menu-middle {
  transform: translateY(0);
}
.menu-animated:hover .menu-bottom {
  transform: translateY(7.8px);
}
.menu-animated .menu-top {
  transform-origin: top left;
  transform: translateY(0.5px) translateX(8px) rotate(45deg);
}
.menu-animated .menu-middle {
  transform: translateX(20px);
  opacity: 0;
}
.menu-animated .menu-bottom {
  transform-origin: left;
  transform: translate(6px, 7.8px) rotate(-45deg);
}
.sidebar {
  display: block;
  z-index: -1;
}
.sidebar ul {
  height: 100vh;
  background-color: rgba(70, 62, 62, 0.522);
  position: fixed;
  z-index: 999;
  backdrop-filter: blur(20px);
  display: flex;
  width: 250px;
  right: 30px;
  flex-direction: column;
  right: 0px;
  top: 0px;
  border-radius: 2px;

  animation: apparition 0.2s;
}
.sidebar ul li:nth-child(1) {
  margin-top: 30px;
}
@keyframes apparition {
  0% {
    transform: translateX(110%);
  }
  100% {
    transform: translateX(0%);
  }
}
.sidebar ul li {
  color: #7a3d8a;
  width: 100%;
  padding: 20px 0;
  text-align: center;
}
.sidebar hr {
  border-width: 1px;
  border-color: rgb(197, 197, 197);
  margin: 0 30%;
  border-radius: 2px;
}
.sidebar ul li:hover {
  background-color: #c0c0c0;
}

nav {
  right: 10px;
  position: absolute;
  top: 0px;
  text-decoration: none;
}
nav ul {
  display: flex;
}
nav li {
  list-style: none;
  padding-left: 20px;
}
nav a {
  text-decoration: none;
}
nav a li {
  font-size: large;
  color: rgb(197, 197, 197);
  height: 100%;
  margin-right: 10px;
  padding-bottom: 10px;
}
nav a li:hover {
  animation: onHover 0.3s;
  color: white;
}
@keyframes onHover {
  0% {
    opacity: 1;
    color: rgb(197, 197, 197);
  }
  50% {
    opacity: 0;
    transform: translateY(30%);
  }
  60% {
    transform: translateY(-30%);
  }
  100% {
    opacity: 1;
    color: rgb(213, 212, 212);
    transform: translateY(0%);
  }
}
nav a li#current {
  color: #c778dd;
}

.intro-and-img {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
}

.introducing {
  transform: translateY(-100px);
  margin-left: 10%;
  font-size: xx-large;
  color: white;
  width: 45%;
  float: left;
}
.profession {
  color: #c778dd;

  transition: 0.3s ease 0s;
}
.profession:hover {
  color: #7a3d8a;
}
.profession-description {
  color: rgb(197, 197, 197);
  margin-top: 60px;
  width: 70%;
  font-size: medium;
}
.contact-me {
  font-size: medium;
  margin-top: 10px;
  border: 1px solid #c778dd;
  padding: 5px;
  display: inline-block;
  transition: 0.3s;
  align-self: end;
}
.contact-me:hover {
  background-color: #c778dd;
  border-radius: 4px;
}
.group1 {
  margin-right: 10%;
}
.dev-img {
  position: absolute;
  top: -80px;
  right: -90%;
}
.occupation {
  display: inline-block;
  display: none;
  position: absolute;
  top: 400px;
  transform: translateX(-30px);
  right: 10%;
  color: rgb(197, 197, 197);
  font-size: medium;
  margin-top: 10px;
  background-color: #282c33;
  border: 1px solid #c778dd;
  padding: 5px;
}

.quote-container {
  margin-right: 30px;
  transform: translateY(-50px);
  display: block;
  margin-left: 30%;
  color: white;
}
.quote-group {
  height: 100%;
  position: relative;

  display: inline-block;
}

.quote {
  padding: 15px;
  border: 1px solid gray;
  width: 100%;
}

.quote-symbol1 {
  width: 25px;
  height: 20px;

  position: absolute;
  z-index: 0;
  top: 14px;
  left: 12px;
  z-index: 1;
}

.quote-symbol2 {
  display: inline-block;
  width: 25px;
  height: 20px;
  position: absolute;
  right: 12px;
  top: 68px;
  z-index: 0;
  bottom: -40px;
}

.quote-author {
  position: absolute;
  right: 0px;
  top: 80px;
  padding: 15px;
  display: inline-block;
  border: 1px solid gray;
  border-top: 0px;
}
.project {
  transform: translateY(-25px);
}
.project-header {
  margin-left: 10%;
  margin-top: 100px;
  font-size: xx-large;
  color: white;
  display: inline-flex;
  width: 70%;
  margin-right: 20%;
  position: relative;
}

.project-header .img {
  position: relative;
  width: 60%;
  height: 2px;
  bottom: -22px;
  left: 15px;
}
.project-header h6 {
  padding-top: 12px;
  right: 0%;
  font-size: medium;
  position: absolute;
}
.project-body {
  position: relative;
  margin-right: 10%;
  display: flex;
  justify-content: space-around;
  margin-left: 10%;
  flex-wrap: wrap;
}
.project- {
  border: 2px solid gray;
  margin-top: 60px;
  width: 330px;
  height: 100%;
  position: relative;
  transition: 0.2s;
}
.project-:hover {
  transform: scale(1.05);
}
.project- .img {
  width: 330px;
  height: 100%;
  border-bottom: 2px solid gray;
}
.project-link a {
  display: block;
  border: 2px solid gray;
  color: rgb(197, 197, 197);
  text-decoration: none;
  margin-top: 13px;
  padding: 5px;
  width: 100%;
  transition: 0.4s;
}
.project-link a:hover {
  color: white;
  background-color: #c778dd;
}

.technology {
  color: rgb(197, 197, 197);
  width: 100%;
  height: 100%;
  padding: 10px;
  border-bottom: 2px solid rgb(197, 197, 197);
}

#technology2 {
  bottom: -32px;
}
#project-description2 {
  bottom: -154px;
}
.project-description {
  color: rgb(197, 197, 197);
  padding: 10px;
  width: 310px;
  height: 100%;
}
.project-description h3 {
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
}
.skills {
  margin-left: 10%;
  margin-right: 10%;
}
.skills-header {
  margin-top: 20px;
  font-size: xx-large;
  color: white;
  display: inline-flex;
}
.skills-header .img {
  position: relative;
  width: 60%;
  height: 2px;
  bottom: -22px;
  left: 15px;
}
.skills-header h6 {
  padding-top: 12px;

  font-size: medium;
}

.skill-list {
  margin-top: 100px;

  margin-left: 10px;
  margin-right: 10px;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 10px;
  row-gap: 10px;
  padding-bottom: 50px;
}
.skillbox {
  color: white;
  border: 2px solid gray;
  width: 140px;
}
.skillbox-header {
  padding: 5px;
  background-color: #aeb3bc1a;
}
.skillbox hr {
  border-color: gray;
}
.skillbox-body {
  color: rgb(197, 197, 197);
  padding: 5px;
}
.aboutMe-container {
  clear: right;
  transform: translateY(55px);
  margin-bottom: 150px;
}
.aboutMe-header {
  margin-left: 10%;
  width: 80%;
  font-size: xx-large;
  color: white;
  display: inline-flex;
  margin-bottom: 40px;
}
/*className="border-pink-pure border w-80 absolute bottom-6 left-48";*/

.aboutMe-header hr {
  transform: translateY(24px);
  margin-left: 10px;
  border-width: 1px;
  border-color: #c778dd;
  width: 45%;
}
.aboutme-text {
  width: 45%;
  height: 100%;
  margin-left: 10%;
}
.aboutme-text a {
  padding: 5px 10px;
  border: 2px solid #787676;
  border-radius: 10px;
  box-shadow: 1px 3px 5px white;
  transform: 0.4s;
}
.aboutme-text a:hover {
  box-shadow: -1px -3px 5px rgb(197, 197, 197);
}
.aboutme-text + .img {
  margin-right: 20px;
  width: 350px;
  transform: translateY(-10%);
}
.contact-container {
  width: 100%;
  margin: 90px 0px 25px 0px;
}
.contact-text {
  margin-left: 10%;
  width: 385px;
}
.contact-box {
  position: absolute;
  border: 2px solid gray;
  top: 40px;
  right: 25px;
}
.contact-box > span {
  display: block;
  text-align: center;
  background-color: #aeb3bc1a;
  padding: 10px;
}
.social2 {
  width: 100%;
  padding: 5px;
}
.social2:nth-of-type(1) {
  border-top: solid 2px gray;
}
.social2 a:hover {
  color: white;
}
.social2 a:hover .img {
  filter: brightness(0) invert(1);
}

.footer-container {
  margin-top: 170px;
}
.footer-container hr {
  border-color: gray;
  border-width: 100%;
}
.footer-content {
  text-shadow: 2px 2px 5px #202127;
  margin: 20px 10% 0 10%;
  font-family: "Lucida Sans", sans-serif;
  font-weight: 600;
  color: white;
  cursor: pointer;
  margin-bottom: 15px;
}
.footer-top {
  display: flex;
  flex-wrap: wrap;
}
.footer-content a {
  color: #787676;
  margin-bottom: 40px;
  margin-right: 20px;
}
.footer-content a:hover {
  color: white;
} /*709*/
.footer-social {
  margin-left: auto;
}
.footer-icon {
  margin-top: 10px;

  display: flex;
}
.footer-icon .img {
  width: 100%;
}
.footer-icon a:hover {
  filter: brightness(0) invert(1);
}

@media screen and (max-width: 709px) {
  .footer-social {
    margin-left: 0px;
  }
}
@media screen and (max-width: 839px) {
  .aboutme-text + .img {
    margin: 0 10%;
    width: 80%;
    transform: translateY(0px);
  }
  .aboutme-text {
    width: 80%;
  }
}

@media screen and (max-width: 857px) {
  .intro-and-img {
    flex-direction: column;
  }
  .dev-img {
    position: static;
    width: 100%;
  }

  .skills-header .img {
    width: 50%;
    right: 0px;
    top: 25%;
  }

  .occupation {
    display: none;
    position: static;
    display: inline-block;
    font-size: 0.4em;
    margin-left: 20%;
    transform: translateY(-40px);
  }
  .profession-description {
    width: 100%;
  }
  .introducing {
    width: 80%;
  }
}
@media screen and (max-width: 755px) {
  .contact-body {
    display: flex;
    flex-direction: column-reverse;
  }
  .contact-text {
    width: 60%;
    font-size: 1.2em;
    min-width: 280px;
  }
  .contact-box {
    position: static;
    margin-left: 10%;
    width: 60%;
    min-width: 255px;
  }
  .skill-list {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 600px) {
  nav ul li {
    display: none;
  }
}
@media screen and (max-width: 600px) {
  .profession-description {
    width: 100%;
  }
  .introducing {
    width: 100%;
    font-size: 1.6em;
  }
}
@media screen and (max-width: 600px) {
  .quote-author {
    transform: translateY(86%);
  }
}
/*.profession-description {
    width: 100%;
  }
  .introducing {
    width: 100%;
    font-size: 1.6em;
  }*/
